@font-face {
  font-family: "Rubik-Light";
  src: url(./Fonts/static/Rubik-Light.ttf);
}

@font-face {
  font-family: "Rubik-BlackItalic";
  src: url(./Fonts/static/Rubik-BlackItalic.ttf);
}

html {
  background-color: black;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  font-family: Rubik-Light;
  background: linear-gradient(to left, #5e65e7, #3a40af);
  width: 100%;
}

a {
  color: aqua;
  text-decoration: none;
  transition: all 300ms linear;
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  color: yellow;
  text-shadow: 2px 2px blue;
}

header h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-family: Rubik-BlackItalic;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 2%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  width: 400px;
  height: 35px;
}

.search-button {
  padding: 5px 15px;
  height: 35px;
  background-color: yellow;
  color: white;
  border: 1px solid yellow;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: blue;
}

.googleBTN {
  margin: 0 10px;
  font-size: 50px;
}

.fa-regular.fa-magnifying-glass {
  font-size: 15px;
  color: blue;
}

/* Links */
main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: aqua;
  width: 350px;
}

.btn {
  height: 50px;
  border: 3px solid aqua;
  background-color: rgba(0, 28, 41, 0.753);
  transition: all 300ms linear;
  border-radius: 15px;
  margin: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  padding: 10px 20px;
  width: 300px;
}

.btn:hover {
  border-color: white;
  font-weight: 900;
  transform: translateX(20px);
}

.btn:hover a {
  color: white;
}

.title {
  text-align: center;
  font-size: 35px;
  padding: 10px 20px;
  margin: 10px 30px;
  color: yellow;
}

/* Footer */
footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

/* Background */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
